{% extends 'betting_app/loggedIn-nav-footer.html' %}

{% block title %} Admin {% endblock %}

{% block content %}
<div class="admin-page">
     <!--GO BACK TO DASHBOARD -->
    <div class="page-nav">
        <a href="../betting-admin">dashboard</a>
    </div>

     <!--CREATE A GAME -->
    <h1>Create a new bet</h1>
    <div class="create-bet-container">
        <h3>Leauge:</h3>
        <form action="{% url 'createBet' %}" method="POST">
            {% csrf_token %}
            <select name="leauge">
                <option value="3F Superliga">3F Superliga</option>
                <option value="Bundesliga">Bundesliga</option>
                <option value="Champions Leauge">Champions Leauge</option>
                <option value="Europa Leauge">Europa Leauge</option>
                <option value="La Liga">La Liga</option>
                <option value="Premier League">Premier League</option>
                <option value="Serie A">Serie A</option>
            </select>

            <br><br>
            <label for="match_date"><h3>Date:</h3></label>
            <input type="date" name="match_date">

            <br><br>
            <h3>Bet:</h3>
            <div class="odds-fields">
                <div>
                    <input type="text" name="home_team_name" placeholder="Manchecter United">
                    <p>Vs</p>
                    <input type="text" name="away_team_name" placeholder="Chelsea">
                    <input type="text" name="draw" value="Draw">
                </div>
                <div>
                    <input type="text" name="home_odds_number" placeholder="5.00">
                    <br>
                    <p>Odds</p>
                    <input type="text" name="away_odds_number" placeholder="2.00">
                    <input type="text" name="draw_odds_number" placeholder="3.00">
                </div>
            </div>
            
            <input type="submit" value="Create bet">
        </form>
    </div>
</div>
{% endblock %}