{% extends 'betting_app/loggedOut-nav-footer.html' %}

{% block title %} Welcome {% endblock %}

{% block content %}

<div class="frontpage">

    <!--splash image and login in form-->
<div class="log-in">
    <div class="log-in-container">
        <div></div>
      <div class="log-in-box">
        <h2>LogIn</h2>
        <form action="{% url 'frontpage' %}" class="front-page-form" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <input class="sign-in-frontpage" type="submit" value="Sign in">
        </form>
        <br>
        <a href="#">forget Your Password?</a>
        <a href="#">Don't have an account? Sign up here</a>
        </div>
</div>
</div>

    <!--THE USERS GAME OVERVIEW-->
    <div id="user-games-overview" onclick="displayAlert()">
        <div></div>
        <div class="the-overview">
            <!--OVERVIEW NAVIGATION-->
            <div class="the-overview-nav">
                <h3>TODAY</h3>
                <h3 style="font-weight: 300;">TOMORROW</h3>
            </div>
            <!--OVERVIEW FILTER-->
            <div class="the-overview-filter">
                <h3 style="font-weight: bold;">SORT BY</h3>
                <h3>Time</h3>
                <h3>Leauge</h3>
            </div>

            <!--GAMES -->
            <div class="the-overview-games">
                {% for game in games %}
                {% if game.winner.winner == 'Not settled' %}
                <!--GAME PLAYERS-->
                <div class="game-players">
                    <span>{{game.home_team_name}}</span>
                    <span>{{game.away_team_name}}</span>
                </div>
            
                <!--GAME ODDS-->
            <div class="game-odds">
                <div class="game-odds-1">
                    <span>1</span>
                    <span>{{game.home_odds_number}}</span>
                </div>
                <div class="game-odds-x">
                    <span>x</span>
                    <span>{{game.draw_odds_number}}</span>
                </div>
                <div class="game-odds-2">
                    <span>2</span>
                    <span>{{game.away_odds_number}}</span>
                </div>

            </div>
            {% endif %}
            {% endfor %}
            </div>

        </div>
    </div>


   
</div>

<script>
    function displayAlert(){
        alert("Please login or sign up to place a bet.")
    }
</script>

{% endblock %}