/*start slder and login in form*/
.log-in{
    min-height: 500px;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1600250395178-40fe752e5189?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80");
    background-size: 100% 100%;
    margin-top: -2px;
  }

  .log-in h2{
    text-align: center;
  font-weight: lighter;
}

  .log-in-container{
      display: grid;
      grid-template-columns: 2fr 1fr;
  }
 
  .log-in-box{
    display: grid;
    background-color: rgba(255, 255, 255, 0.678);
    color: black;
    width: 400px;
    height: 300px;
    padding: 40px;
    margin-top: 90px;
    margin-right: 90px;
    margin-bottom: 90px;
  }

  .log-in-box a{
      font-size: 11px;
      text-align: center;
  }

  .front-page-form{
      display: grid;

  }

  .front-page-form > input[type=password], input[type=text]{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    font-size: 14px;
  }

  .sign-in-frontpage{
    background-color: #FBCF00;
    border: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }


/*THE USERS GAME OVERVIEW*/

#user-games-overview{
    display:grid; 
    grid-template-columns: 0.5fr 5fr 0.5fr;
    gap: 10px;
    padding: 20px;
    justify-items: center;
}
.the-overview{
    background-color: white;
    color: black;
    margin: 20px;
    justify-content: center;
    border-radius: 15px;
}

.icon-container{
    padding: 10px;
    width: 100%;
}

.the-overview-nav{
    display: grid;
    grid-template-columns: 100px 100px;
    padding-left: 30px;
}

.the-overview-filter{
    display: grid;
    grid-template-columns: 100px 70px 70px;
    color: white;
    background: #3c2278;
    padding-left: 30px;
}


.the-overview-games{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.game-players{
  display: grid;
  gap: 10px;
  padding: 30px 30px 10px 30px;
}

.game-players span{
    font-weight: bold;
}


.game-odds{
    display:grid; 
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 30px 30px 10px 30px;
}

.game-odds-1,
.game-odds-x,
.game-odds-2{
    display: grid;
    grid-row: 2;
    background-color: #3c2278;
    color: white;
    text-align: center;
    padding: 10px 40px 10px 40px;
    height: 40px;
    border-radius: 15px;

}



  
