.signup-page {
    margin: 20px 80px 30px 80px;
}
.signup-container {
    width: 400px;
    padding: 5px;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f3;
    color: black;
    text-align: center;
}

.signup-container input[type=submit]{
    background-color: #fbcf00;
    border: none;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 250px;
    margin-top: 20px;
}
.signup-container input[type=submit]:hover{
    background-color: #ffdc42;
}

.signup-container input[type=text], input[type=email], input[type=password]{
    padding: 10px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    width: 300px;
}
.signup-container p {
    font-size: 12px;
}

.signup-container a{
    text-decoration: underline;
}
